.main ul {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.main li {
  margin-bottom: 20px;
}

.main li a {
  text-decoration: none;
  color: white;
}

.main li a:hover {
  color: wheat;
}
